@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif bg-black text-white/95;
}

.pg-container {
  --max-width: 1280px;
  --padding: 1.5rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  max-width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.pg-container__tight {
  --max-width: 1103px;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 768px) {
  .even-columns {
    grid-auto-flow: column;
  }
}